@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lexend", sans-serif;
}

html {
	min-height: 100vh;
	background: url(./img/flowers.png) center/cover no-repeat fixed;
}

body {
	backdrop-filter: blur(150px);
	min-height: 100vh;
}

nav {
	background-color: rgba(255, 255, 255, 0.145);
	backdrop-filter: blur(20px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 10%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.nav--logo {
	width: 70px;
}

nav ul {
	display: flex;
	gap: 1.5em;
	list-style: none;
}

.links {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.1em;
	text-shadow: 0 2px 10px rgba(0, 0, 0, 0.456);
}

.links:hover {
	color: #fefefe;
}

.social-links a i {
	color: #fefefe;
	font-size: 1.2em;
	transition: all 0.3s ease-in-out;
}

.social-links a i:hover {
	color: #f3f3f3;
	transform: scale(1.2, 1.2);
	text-shadow: 0 2px 10px rgba(0, 0, 0, 0.124);
}

.social-links {
	background-color: rgba(255, 255, 255, 0.235);
	padding: 10px;
	border-radius: 5px;
	display: flex;
	gap: 1em;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.085);
}